{% extends 'base.html' %}

{% block content %}

<div id="main">

	<!-- Content -->
		<section id="content" class="main">
			<span class="image main"><img src="images/pic04.jpg" alt="" /></span>

				<h3>here's a list of all the tracks in {{ playlistName }}:</h3>
					<ul>
						{% for track in allTracks %}
						<li> {{ track }} </li>
						{% endfor %}
					</ul>

				<h3>we couldn't find a clean version of the following tracks:</h3>
					<ul>
						{% for track in notCleanTracks %}
						<li> {{ track }} </li>
						{% endfor %}
					</ul>
		</section>
</div>
{% endblock %}