{% extends 'base.html' %}

{% block content %}

<header id="header">
	<h1>music clean</h1>
	<p>we'll make sure your Spotify playlists are clean (i.e. no explicit tracks) for when you need them!</p>

	<a href="{{ auth_url }}">
		<img alt="Spotify connect button" src={{ url_for('static', filename="css/images/spotifyconnectbutton.png") }} class="responsive"
		width=300 height=55>
	</a>

	<!-- <button id="apple-music-authorize">Connect to Apple Music</button> -->

	<a href="{{ url_for ('test') }}">
		<button id="apple-music-authorize">Connect to Apple Music</button>
	</a>

	<a href="{{ url_for ('test') }}">
		<button id="apple-music-unauthorize">Disconnect from Apple Music</button>
	</a>
</header>

{% endblock %}
