{% extends 'base.html' %}

{% block content %}

<div id="main">

	<!-- Content -->
		<section id="content" class="main">			
			<h3>select a Spotify playlist to clean:</h3>
			<form action="{{ url_for('playlists') }}" method="POST">
				{% for playlistID, playlist in playlists.items() %}
					<input type="radio" id="{{ playlistID }}" name="select-playlist" value="{{ playlistID }}">
					<label for="{{ playlistID }}">{{ playlist }}</label></br>
				{% endfor %}

				<button type="submit" class="button primary">
					clean selected playlist
				</button>
			</form>
</div>



{% endblock %}